html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'MusticaproSemibold';
  background-image: url('../img/bg.jpg');
}
a{
  text-decoration: none;
}
.login,
.registration{
  color: white;
}

.log_and_reg{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: #4fc3ff 2px solid;
}
.lk{
  border-bottom: #4fc3ff 2px solid;
  
}
.to_main{
  color: white;
  font-size: 35px;
  margin-top: 20px;

}
.to_main:hover{

  transition: .4s;
  color: #4fc3ff;
}
.user_or_log{
  display: flex;
  font-size: 35px;
  font-family: "Circe";

}

button{
  border: none;
}
@font-face {
  font-family: 'MusticaproSemibold';
  /* src: url('../fonts/circle.ttf'); */
  src: url('../fonts/MusticaproSemibold.otf');
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe-2.ttf');
}
.head{
  margin-bottom: 100px;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight:normal;
  font-style:normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz_text{
  font-size: 35px;
  font-family: "MusticaproSemibold";
}
  
.start_btn{
  background-color: #4fc3ff;
  border-radius: 25px;
  color: white;
  font-weight:normal;
  font-style:normal;
  
  font-family: "MusticaproSemibold";
  height: 80px;
  width: 400px;
}
.start_btn{
  margin-top: 20px;
  position: relative;
}
.url_link{
  color: white;
}
.url_link:hover{
  transition: .4s;
  color: #4fc3ff;
}

.footer{
  height: 50px;
  flex: 0 0 auto;
  border-bottom: #4fc3ff 6px solid;
}


.url{
  display: flex;
  justify-content: end;
  padding: 15px;
  color: white;
  font-family: "MusticaproSemibold";
}
.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.start_btn:hover{
  transition: .4s;
  box-shadow: 0px 0px 55px #4fc3ff;
}
.num{
  font-size: 45px;
  font-family: "MusticaproSemibold";

  text-shadow: 0px 0px 55px white;

  /* box-shadow: 0px 0px 55px white; */
  position: absolute;
  right: -5%;
  bottom: -35%;
}
.main{
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.quizes,
.victorins{
  display: flex;
}
.quiz{
  width: 50%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.start_btn>a{
  font-size: 35px;
  color: white;
}
.num{
  
}
.quiz_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
h1{
  font-size: 25px;
}
.question{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.res{
  font-size: 25px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.res>h1{
  font-size: 30px;
}