{% extends "index.html" %}
{% block content %}



  <div class="main">
    <div class="quiz1 quiz">
      <div class="quiz_text">Древняя Россия</div>
      <a href="/test/rusb/1"><button class="start_btn">
         НАЧАТЬ ТЕСТ
        <div class="num">#1</div>
      </button></a>
    </div>
    <div class="quiz2 quiz">
      <div class="quiz_text">Древняя Россия</div>
      <a href="/test/rusb_sec/1"><button class="start_btn">
        НАЧАТЬ ТЕСТ
        <div class="num">#2</div>
      </button></a>
    </div>
    <div class="victorin1 quiz">
      <div class="quiz_text">КТО ТЫ ИЗ 3 РУССКИХ ???</div>
      <a href="/victorin/russian_high_tier_politics7aha/1"><button class="start_btn">
        НАЧАТЬ ВИКТОРИНУ
  
      </button></a>
  
    </div>
  </div>

{% endblock %}