{% extends "index.html" %}
{% block content %}

<form method="POST" style="display: flex;flex:1 0 auto;justify-content: center;align-items: center;flex-direction: column;" style="flex:1 0 auto;" name="form" class="form form-control">

  <input type="text" placeholder="name" name="reg_name">
  <input type="text" placeholder="password" name="reg_passw">


    {% if error %}
    <ul>
      <li>{{ error }}</li>
    </ul>
    {% endif %}
  <button type="submit">reg user</button>
</form>

{% endblock %}